In [78]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt


import datetime
from datetime import date
import calendar

In [86]:
data  = pd.read_csv("/home/aamin/files/marketing/copy/Jupiter_files/testm.csv")
mobile_number = pd.read_csv("/home/aamin/files/marketing/copy/Jupiter_files/all_data_mobile_number.csv")

In [106]:
clicked_data = pd.read_csv("/home/aamin/files/marketing/copy/reports_data/all_reports_data.csv")

/home/aamin/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3106: DtypeWarning: Columns (6,8,13,14,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [137]:
clicked_data.dropna(subset= ["Clicked time"])["Mobile number"].nunique()

32528

In [145]:
clicked_data[(clicked_data["Link clicked"].str.contains("NaN") == False) & 
             clicked_data["Mobile number"].isin(data["profiledata_mobile"])]["Mobile number"].nunique() #.sort_values(by="Delivered Date")
#mobile_number[mobile_number["Mobile number"].isin(clicked_data["Mobile number"])]

7647

In [153]:
clicked_data

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Click Time,Clicked Hour of Day,Message,Published date,Status,Remark,Operator,Circle,SMS Language,category
0,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,19:33:50,19.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Idea,Madhya Pradesh-Chattisgarh,en,leads
1,1,86,4862,Quess 3105,8920194583,QUESS737,https://bit.ly/3KWO3qd,2022-05-31 08:02:28,2022-05-31 20:18:12,2022-05-31,...,20:18:12,20.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Madhya Pradesh-Chattisgarh,en,leads
2,2,87,4862,Quess 3105,8860875024,QUESS612,https://bit.ly/3KWO3qd,2022-05-31 08:02:27,2022-06-18 10:50:57,2022-05-31,...,10:50:57,10.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Delhi,en,leads
3,3,88,5084,RNR Cases 3006,7095924021,RNR544,https://mv343.app.goo.gl/pQxK,2022-06-30 10:13:28,2022-06-30 10:13:38,2022-06-30,...,10:13:38,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,BSNL GSM,Tamil Nadu,en,leads
4,4,89,5084,RNR Cases 3006,9494080943,RNR555,https://mv343.app.goo.gl/pQxK,2022-06-30 10:12:14,2022-06-30 10:12:19,2022-06-30,...,10:12:19,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,Vodafone,Chennai,en,leads
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646409,82482,82482,5639,Tie Up Vinolya Hindi 2511,9972363521,VINOLYA197,NaN,2022-11-25 10:56:11,NaN,2022-11-25,...,NaN,NaN,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
646410,82483,82483,5639,Tie Up Vinolya Hindi 2511,9945768371,VINOLYA481,NaN,2022-11-25 10:56:14,NaN,2022-11-25,...,NaN,NaN,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
646411,82484,82484,5639,Tie Up Vinolya Hindi 2511,9741814983,VINOLYA1,NaN,2022-11-25 10:56:15,NaN,2022-11-25,...,NaN,NaN,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
646412,82485,82485,5639,Tie Up Vinolya Hindi 2511,9611708813,VINOLYA301,NaN,2022-11-25 10:56:11,NaN,2022-11-25,...,NaN,NaN,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
646413,82486,82486,5639,Tie Up Vinolya Hindi 2511,9606157498,VINOLYA429,NaN,2022-11-25 16:56:11,NaN,2022-11-25,...,NaN,NaN,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,undelivered,expired,Reliance CDMA,North East,hi,NaN

In [165]:
new_data = clicked_data[(clicked_data["Link clicked"].str.contains("NaN") == False) & 
             (clicked_data["Mobile number"].isin(data["Mobile number"]))]

In [246]:
new_data

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Click Time,Clicked Hour of Day,Message,Published date,Status,Remark,Operator,Circle,SMS Language,category
0,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,19:33:50,19.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Idea,Madhya Pradesh-Chattisgarh,en,leads
1,1,86,4862,Quess 3105,8920194583,QUESS737,https://bit.ly/3KWO3qd,2022-05-31 08:02:28,2022-05-31 20:18:12,2022-05-31,...,20:18:12,20.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Madhya Pradesh-Chattisgarh,en,leads
2,2,87,4862,Quess 3105,8860875024,QUESS612,https://bit.ly/3KWO3qd,2022-05-31 08:02:27,2022-06-18 10:50:57,2022-05-31,...,10:50:57,10.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Delhi,en,leads
3,3,88,5084,RNR Cases 3006,7095924021,RNR544,https://mv343.app.goo.gl/pQxK,2022-06-30 10:13:28,2022-06-30 10:13:38,2022-06-30,...,10:13:38,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,BSNL GSM,Tamil Nadu,en,leads
6,6,91,5084,RNR Cases 3006,9987692267,RNR591,https://mv343.app.goo.gl/pQxK,2022-06-30 10:11:48,2022-06-30 10:11:49,2022-06-30,...,10:11:49,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,Airtel,Mumbai,en,leads
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569094,5167,5167,5677,Tie Up ASPPL English 0212,9741995226,ASPPL88,https://mshblf.page.link/EGF4,2022-12-02 16:02:31,2022-12-02 16:02:34,2022-12-02,...,16:02:34,16.0,"Dear Customer, Congratulations! As an employee...",NaN,Delivered,Delivered,Airtel,Karnataka,en,NaN
569109,5182,5182,5639,Tie Up Vinolya Hindi 2511,9902085552,VINOLYA374,https://mshblf.page.link/EGF4,2022-11-25 10:56:12,2022-11-25 10:57:03,2022-11-25,...,10:57:03,10.0,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Idea,Karnataka,hi,NaN
569110,5183,5183,5639,Tie Up Vinolya Hindi 2511,9741016886,VINOLYA225,https://mshblf.page.link/EGF4,2022-11-25 10:56:14,2022-11-25 15:47:57,2022-11-25,...,15:47:57,15.0,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
569114,5187,5187,5639,Tie Up Vinolya Hindi 2511,7338499942,VINOLYA115,https://mshblf.page.link/EGF4,2022-11-25 10:56:16,2022-11-25 10:56:25,2022-11-25,...,10:56:25,10.0,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN
569124,5197,5197,5639,Tie Up Vinolya Hindi 2511,9632183041,VINOLYA443,https://mshblf.page.link/EGF4,2022-11-25 10:56:11,2022-11-25 11:10:38,2022-11-25,...,11:10:38,11.0,"प्रिय ग्राहक, बधाई! आपकी कंपनी हमारा अनन्य शुभ...",NaN,Delivered,Delivered,Airtel,Karnataka,hi,NaN

In [168]:
data.rename(columns={"profiledata_mobile" : "Mobile number"}, inplace = True)

In [247]:
data

,Mobile number,userid,applieddate,loandetail_amount,status,loandetail_status
0,8688889935,35894,2017-06-28,33000.0,DATASIGNS_APPROVED,DISBURSED
1,9844678626,35138,2019-11-15,NaN,DATASIGNS_REJECTED,NaN
2,9844678626,35138,2018-09-06,NaN,DATASIGNS_REJECTED,NaN
3,9844678626,35138,2018-02-23,NaN,DATASIGNS_REJECTED,NaN
4,9844678626,35138,2017-08-22,NaN,DATASIGNS_REJECTED,NaN
...,...,...,...,...,...,...
46675,9365720644,3604232,2023-01-09,NaN,INCOMPLETE_INFO,NaN
46676,9365720644,3604232,2022-07-07,NaN,DATASIGNS_REJECTED,NaN
46677,9365720644,3604232,2021-07-20,30000.0,DATASIGNS_APPROVED,CLOSED
46678,8579830197,4173446,2022-09-14,100000.0,DATASIGNS_APPROVED,DISBURSED
46679,9890021475,3701718,2021-11-16,75000.0,DATASIGNS_APPROVED,DISBURSED

In [281]:
new_data_2 = pd.merge(new_data, data, on = ["Mobile number"], how = "inner")

In [172]:
# new_data_2.sort_values(by = ["Delivered Date" , "applieddate"],inplace = True)

In [265]:
# new_data_2['Clicked Date']= pd.to_datetime(new_data_2['Clicked Date'])
# new_data_2['applieddate']= pd.to_datetime(new_data_2['applieddate'])
# new_data_2["difff"] = new_data_2["applieddate"] - new_data_2["Clicked Date"]

In [277]:
import time
from datetime import datetime
from dateutil import parser

def func_UTCToEpoch(utcData, timestampFormat=None):
    if timestampFormat == None:
        dateObj    = parser.parse(utcData)
        epochValue = dateObj.timestamp()
    else:
        timeTuple  = time.strptime(utcData, timestampFormat)
        epochValue = time.mktime(timeTuple)
    return (epochValue)

def calculate_timelag(delv_time, click_time):
    
    if click_time == click_time:
        delv_time_ts = datetime.fromtimestamp(func_UTCToEpoch(delv_time))
        click_time_ts = datetime.fromtimestamp(func_UTCToEpoch(click_time))
        diff = click_time_ts - delv_time_ts
        seconds = diff.days
    else:
        seconds = np.nan
    
    return seconds

In [282]:
new_data_2['Timelag (days)'] = new_data_2.apply(lambda x: calculate_timelag(x['Delivered Time'], x['Clicked time']), axis=1)
new_data_2['applied_Timelag (days)'] = new_data_2.apply(lambda x: calculate_timelag(x['applieddate'], x['Clicked time']), axis=1)

In [267]:
new_data_2['difff']= new_data_2['difff'].astype("str")

In [283]:
new_data_2

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Circle,SMS Language,category,userid,applieddate,loandetail_amount,status,loandetail_status,Timelag (days),applied_Timelag (days)
0,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,Madhya Pradesh-Chattisgarh,en,leads,3954561,2022-08-17,10000.0,DATASIGNS_APPROVED,DISBURSED,0,-78
1,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,Madhya Pradesh-Chattisgarh,en,leads,3954561,2022-12-14,NaN,DATASIGNS_REJECTED,NaN,0,-197
2,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,Madhya Pradesh-Chattisgarh,en,leads,3954561,2022-06-15,10000.0,DATASIGNS_APPROVED,CLOSED,0,-15
3,1,86,4862,Quess 3105,8920194583,QUESS737,https://bit.ly/3KWO3qd,2022-05-31 08:02:28,2022-05-31 20:18:12,2022-05-31,...,Madhya Pradesh-Chattisgarh,en,leads,3717054,2022-08-17,10000.0,DATASIGNS_APPROVED,DISBURSED,0,-78
4,1,86,4862,Quess 3105,8920194583,QUESS737,https://bit.ly/3KWO3qd,2022-05-31 08:02:28,2022-05-31 20:18:12,2022-05-31,...,Madhya Pradesh-Chattisgarh,en,leads,3717054,2022-04-30,20000.0,DATASIGNS_APPROVED,CLOSED,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18699,5160,5160,5677,Tie Up ASPPL English 0212,6366659655,ASPPL105,https://mshblf.page.link/EGF4,2022-12-02 16:02:32,2022-12-02 16:23:10,2022-12-02,...,Karnataka,en,NaN,58495,2022-06-13,NaN,DATASIGNS_REJECTED,NaN,0,172
18700,5182,5182,5639,Tie Up Vinolya Hindi 2511,9902085552,VINOLYA374,https://mshblf.page.link/EGF4,2022-11-25 10:56:12,2022-11-25 10:57:03,2022-11-25,...,Karnataka,hi,NaN,3685334,2021-10-21,50000.0,DATASIGNS_APPROVED,CLOSED,0,400
18701,5187,5187,5639,Tie Up Vinolya Hindi 2511,7338499942,VINOLYA115,https://mshblf.page.link/EGF4,2022-11-25 10:56:16,2022-11-25 10:56:25,2022-11-25,...,Karnataka,hi,NaN,3564914,2021-09-18,50000.0,DATASIGNS_APPROVED,DISBURSED,0,433
18702,5197,5197,5639,Tie Up Vinolya Hindi 2511,9632183041,VINOLYA443,https://mshblf.page.link/EGF4,2022-11-25 10:56:11,2022-11-25 11:10:38,2022-11-25,...,Karnataka,hi,NaN,2550807,2019-10-01,NaN,SUSPENDED,NaN,0,1151
18703,5197,5197,5639,Tie Up Vinolya Hindi 2511,9632183041,VINOLYA443,https://mshblf.page.link/EGF4,2022-11-25 10:56:11,2022-11-25 11:10:38,2022-11-25,...,Karnataka,hi,NaN,2550807,2019-10-23,140000.0,DATASIGNS_APPROVED,CLOSED,0,1129

In [287]:
new_data_2[(new_data_2["applied_Timelag (days)"] ==0 )] #["difff"].value_counts()#.sort_values(by = ["difff"], ascending= False)#.groupby("Mobile number").size().reset_index()

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Circle,SMS Language,category,userid,applieddate,loandetail_amount,status,loandetail_status,Timelag (days),applied_Timelag (days)
202,78,163,5084,RNR Cases 3006,7284824159,RNR16,https://mv343.app.goo.gl/pQxK,2022-06-30 10:11:36,2022-06-30 10:11:40,2022-06-30,...,Mumbai,en,leads,3983735,2022-06-30,NaN,INCOMPLETE_INFO,NaN,0,0
258,18906,20050,5175,RNR Cases 2507,8722345052,RNR2139,https://mv343.app.goo.gl/pQxK,2022-07-25 09:57:04,2022-07-25 10:01:18,2022-07-25,...,Karnataka,en,leads,4053699,2022-07-25,NaN,DATASIGNS_REJECTED,NaN,0,0
412,14652,15210,5189,RNR Cases 2707,8521568841,RNR1921,https://mv343.app.goo.gl/pQxK,2022-07-27 10:39:40,2022-07-27 11:17:00,2022-07-27,...,Delhi,en,leads,4049693,2022-07-27,NaN,DATASIGNS_REJECTED,NaN,0,0
627,25816,27153,4914,FinPedia 0806,9398188172,CREDIT13505,https://bit.ly/3KWO3qd,2022-06-08 13:53:25,2022-06-08 13:55:09,2022-06-08,...,Andhra Pradesh,en,leads,3932528,2022-06-08,NaN,DATASIGNS_REJECTED,NaN,0,0
827,409,494,5084,RNR Cases 3006,8456966322,RNR3947,https://mv343.app.goo.gl/pQxK,2022-06-30 10:13:42,2022-06-30 10:13:45,2022-06-30,...,Mumbai,en,leads,3979643,2022-06-30,NaN,DATASIGNS_REJECTED,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18404,327227,338078,3167,ISS Mumbai 1411,7499196862,MUM31538,https://mv343.app.goo.gl/JdxK},2021-11-14 14:04:15,2021-11-14 14:04:50,2021-11-14,...,Maharashtra-Goa,mr,leads,2744612,2021-11-14,NaN,DATASIGNS_REJECTED,NaN,0,0
18474,332456,343594,3161,ISS Mumbai 1311,8369033280,MUM31935,https://mv343.app.goo.gl/JdxK},2021-11-13 10:09:00,2021-11-13 14:09:10,2021-11-13,...,Mumbai,mr,leads,3699049,2021-11-13,NaN,DATASIGNS_REJECTED,NaN,0,0
18475,332901,344039,3161,ISS Mumbai 1311,9892384667,MUM29919,https://mv343.app.goo.gl/JdxK},2021-11-13 10:08:00,2021-11-14 18:50:20,2021-11-13,...,Mumbai,mr,leads,3653024,2021-11-14,NaN,DATASIGNS_REJECTED,NaN,1,0
18566,1023,1023,5638,Tie Up DTSS Bang English 2511,9982377524,DTSS2650,https://mshblf.page.link/EGF4,2022-11-25 12:05:17,2022-11-25 12:05:27,2022-11-25,...,-,en,NaN,4318027,2022-11-25,NaN,DATASIGNS_REJECTED,NaN,0,0
18655,3272,3272,5690,Tie Up UDS English 0512,8287004919,UDS4017,https://mv343.app.goo.gl/KRTr,2022-12-05 19:02:24,2022-12-05 19:04:03,2022-12-05,...,Delhi,en,NaN,4330585,2022-12-05,NaN,INCOMPLETE_INFO,NaN,0,0

In [210]:
new_data_2[new_data_2["Mobile number"] == 6200802966]

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Operator,Circle,SMS Language,category,userid,applieddate,loandetail_amount,status,loandetail_status,difff
903,20064,21341,4870,RNR Cases 0106,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-01 09:36:28,2022-06-01 09:36:29,2022-06-01,...,Reliance JIO,Mumbai,en,leads,3582670,2021-08-15,43000.0,DATASIGNS_APPROVED,CLOSED,290 days
904,20064,21341,4870,RNR Cases 0106,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-01 09:36:28,2022-06-01 09:36:29,2022-06-01,...,Reliance JIO,Mumbai,en,leads,3703181,2022-09-26,NaN,DATASIGNS_REJECTED,NaN,-117 days
901,9453,9560,5020,RNR Cases 2406,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-24 09:49:10,2022-06-24 09:49:12,2022-06-24,...,Vodafone,Maharashtra-Goa,en,leads,3582670,2021-08-15,43000.0,DATASIGNS_APPROVED,CLOSED,313 days
902,9453,9560,5020,RNR Cases 2406,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-24 09:49:10,2022-06-24 09:49:12,2022-06-24,...,Vodafone,Maharashtra-Goa,en,leads,3703181,2022-09-26,NaN,DATASIGNS_REJECTED,NaN,-94 days
899,446,531,5084,RNR Cases 3006,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-30 10:11:48,2022-06-30 10:11:50,2022-06-30,...,Airtel,Bihar-Jharkhand,en,leads,3582670,2021-08-15,43000.0,DATASIGNS_APPROVED,CLOSED,319 days
900,446,531,5084,RNR Cases 3006,6200802966,RNR3793,https://mv343.app.goo.gl/pQxK,2022-06-30 10:11:48,2022-06-30 10:11:50,2022-06-30,...,Airtel,Bihar-Jharkhand,en,leads,3703181,2022-09-26,NaN,DATASIGNS_REJECTED,NaN,-88 days

In [139]:
# data[(data["Link clicked"].str.contains("NaN") == False)] & 
data[data["profiledata_mobile"].isin(clicked_data["Mobile number"])] #.sort_values(by="Delivered Date")

,profiledata_mobile,userid,applieddate,loandetail_amount,status,loandetail_status
0,8688889935,35894,2017-06-28,33000.0,DATASIGNS_APPROVED,DISBURSED
1,9844678626,35138,2019-11-15,NaN,DATASIGNS_REJECTED,NaN
2,9844678626,35138,2018-09-06,NaN,DATASIGNS_REJECTED,NaN
3,9844678626,35138,2018-02-23,NaN,DATASIGNS_REJECTED,NaN
4,9844678626,35138,2017-08-22,NaN,DATASIGNS_REJECTED,NaN
...,...,...,...,...,...,...
46675,9365720644,3604232,2023-01-09,NaN,INCOMPLETE_INFO,NaN
46676,9365720644,3604232,2022-07-07,NaN,DATASIGNS_REJECTED,NaN
46677,9365720644,3604232,2021-07-20,30000.0,DATASIGNS_APPROVED,CLOSED
46678,8579830197,4173446,2022-09-14,100000.0,DATASIGNS_APPROVED,DISBURSED
46679,9890021475,3701718,2021-11-16,75000.0,DATASIGNS_APPROVED,DISBURSED

In [146]:
clicked_data.drop_duplicates(subset= "Mobile number")

,Unnamed: 0,Unnamed: 0.1,Broadcast ID,Broadcast name,Mobile number,Primary Key (User_id),Link clicked,Delivered Time,Clicked time,Delivered Date,...,Click Time,Clicked Hour of Day,Message,Published date,Status,Remark,Operator,Circle,SMS Language,category
0,0,85,4862,Quess 3105,7550176840,QUESS1164,https://bit.ly/3KWO3qd,2022-05-31 08:02:24,2022-05-31 19:33:50,2022-05-31,...,19:33:50,19.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Idea,Madhya Pradesh-Chattisgarh,en,leads
1,1,86,4862,Quess 3105,8920194583,QUESS737,https://bit.ly/3KWO3qd,2022-05-31 08:02:28,2022-05-31 20:18:12,2022-05-31,...,20:18:12,20.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Madhya Pradesh-Chattisgarh,en,leads
2,2,87,4862,Quess 3105,8860875024,QUESS612,https://bit.ly/3KWO3qd,2022-05-31 08:02:27,2022-06-18 10:50:57,2022-05-31,...,10:50:57,10.0,"Dear Customer, Please download the MyShubhLIfe...",NaN,Delivered,Delivered,Airtel,Delhi,en,leads
3,3,88,5084,RNR Cases 3006,7095924021,RNR544,https://mv343.app.goo.gl/pQxK,2022-06-30 10:13:28,2022-06-30 10:13:38,2022-06-30,...,10:13:38,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,BSNL GSM,Tamil Nadu,en,leads
4,4,89,5084,RNR Cases 3006,9494080943,RNR555,https://mv343.app.goo.gl/pQxK,2022-06-30 10:12:14,2022-06-30 10:12:19,2022-06-30,...,10:12:19,10.0,"Dear Customer, We noticed your interest in a M...",NaN,Delivered,Delivered,Vodafone,Chennai,en,leads
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627099,63172,63172,5679,Tie Up Pragathi English 0212,7353503537,PRAGATHI110,NaN,2022-12-02 22:02:37,NaN,2022-12-02,...,NaN,NaN,"Dear Customer, Congratulations! As an employee...",NaN,undelivered,number not reachable,Idea,Karnataka,en,NaN
627100,63173,63173,5679,Tie Up Pragathi English 0212,8892882521,PRAGATHI331,NaN,2022-12-02 16:02:38,NaN,2022-12-02,...,NaN,NaN,"Dear Customer, Congratulations! As an employee...",NaN,Delivered,Delivered,Airtel,Karnataka,en,NaN
627101,63174,63174,5679,Tie Up Pragathi English 0212,7338615150,PRAGATHI100,NaN,2022-12-02 16:52:42,NaN,2022-12-02,...,NaN,NaN,"Dear Customer, Congratulations! As an employee...",NaN,undelivered,number invalid,Airtel,Karnataka,en,NaN
627102,63175,63175,5679,Tie Up Pragathi English 0212,7353805675,PRAGATHI114,NaN,2022-12-02 22:02:37,NaN,2022-12-02,...,NaN,NaN,"Dear Customer, Congratulations! As an employee...",NaN,undelivered,number not reachable,Idea,Karnataka,en,NaN
627103,63176,63176,5679,Tie Up Pragathi English 0212,9886403630,PRAGATHI566,NaN,2022-12-02 16:52:43,NaN,2022-12-02,...,NaN,NaN,"Dear Customer, Congratulations! As an employee...",NaN,undelivered,number invalid,Airtel,Karnataka,en,NaN

In [96]:
mobile_number.nunique()#[mobile_number["Mobile number"].isin(data["profiledata_mobile"])]

Unnamed: 0       646414
Mobile number    161294
dtype: int64

In [88]:
data.drop("Unnamed: 0",axis = 1, inplace= True)

In [100]:
data[data["status"] == "DATASIGNS_APPROVED"]["profiledata_mobile"].nunique()

16708

In [105]:
data.sort_values(by = "applieddate")

,profiledata_mobile,userid,applieddate,loandetail_amount,status,loandetail_status
973,9008277723,4557,2017-01-14,NaN,DATASIGNS_REJECTED,NaN
970,7411112797,4851,2017-01-16,33000.0,DATASIGNS_APPROVED,DISBURSED
1423,9845353703,4849,2017-01-18,33000.0,DATASIGNS_APPROVED,CUST_NOT_INTERESTED
969,9986629658,5112,2017-01-19,100000.0,DATASIGNS_APPROVED,CLOSED
603,9632288267,5520,2017-01-23,30000.0,DATASIGNS_APPROVED,WRITTEN_OFF
...,...,...,...,...,...,...
43577,8310296903,3613195,2023-01-13,NaN,INCOMPLETE_INFO,NaN
43590,8808354659,3150109,2023-01-13,NaN,DATASIGNS_REJECTED,NaN
43585,8600842002,581177,2023-01-13,NaN,DATASIGNS_REJECTED,NaN
46269,9848662142,53253,2023-01-13,NaN,DATASIGNS_REJECTED,NaN
46656,7208039096,2795061,2023-01-13,NaN,DATASIGNS_REJECTED,NaN

In [36]:
data[(data["status"] == "DATASIGNS_APPROVED") & 
     (data["applieddate"].str.contains("2022-12") == True)]

,profiledata_mobile,userid,applieddate,loandetail_amount,status,loandetail_status
12371,8501901671,1412073,2022-12-07,5000.0,DATASIGNS_APPROVED,DISBURSED
17940,9731637978,2237435,2022-12-07,123000.0,DATASIGNS_APPROVED,DISBURSED
35081,9700608433,3718681,2022-12-03,10000.0,DATASIGNS_APPROVED,DISBURSED
37550,6302016631,3778805,2022-12-13,8000.0,DATASIGNS_APPROVED,DISBURSED
39089,8296049575,4331194,2022-12-06,60000.0,DATASIGNS_APPROVED,DISBURSED
...,...,...,...,...,...,...
46516,7599393400,4361744,2022-12-28,100000.0,DATASIGNS_APPROVED,DISBURSED
46537,9709462260,4345347,2022-12-17,100000.0,DATASIGNS_APPROVED,DISBURSED
46551,8477084731,4203759,2022-12-14,10000.0,DATASIGNS_APPROVED,DISBURSED
46663,9666332783,2537751,2022-12-29,10000.0,DATASIGNS_APPROVED,DISBURSED
46669,9090882384,4345612,2022-12-17,100000.0,DATASIGNS_APPROVED,DISBURSED

In [13]:
data.drop_duplicates("profiledata_mobile", keep="first")

,profiledata_mobile,userid,applieddate,loandetail_amount,status,loandetail_status
0,8688889935,35894,2017-06-28,33000.0,DATASIGNS_APPROVED,DISBURSED
1,9844678626,35138,2019-11-15,NaN,DATASIGNS_REJECTED,NaN
5,9430166990,35068,2017-06-24,NaN,NON_SERVICEABLE,NaN
6,7386034408,58854,2018-07-08,NaN,DATASIGNS_REJECTED,NaN
7,7406433048,34878,2019-12-18,NaN,DATASIGNS_REJECTED,NaN
...,...,...,...,...,...,...
46670,9476000018,1142587,2022-10-12,5000.0,DATASIGNS_APPROVED,DISBURSED
46673,9113596561,3874590,2022-12-28,NaN,DATASIGNS_REJECTED,NaN
46675,9365720644,3604232,2023-01-09,NaN,INCOMPLETE_INFO,NaN
46678,8579830197,4173446,2022-09-14,100000.0,DATASIGNS_APPROVED,DISBURSED
46679,9890021475,3701718,2021-11-16,75000.0,DATASIGNS_APPROVED,DISBURSED

In [50]:
data[(data["status"] == "DATASIGNS_APPROVED") & 
     data["applieddate"].str.contains("2023")
     ]["userid"].nunique()

52

In [52]:
def convert_to_day_of_week(date_str):
    try:
        date_ = datetime.date.fromisoformat(date_str)
        weekday = calendar.day_name[date_.weekday()]
    except:
        weekday = np.nan
    return weekday



data['Year'] = data['applieddate'].apply(lambda x: x.split('-')[0])
data['Month'] = data['applieddate'].apply(lambda x: x.split('-')[1])
data['Day'] = data['applieddate'].apply(lambda x: x.split('-')[2])
data['Day of Week'] = data['applieddate'].apply(lambda x: convert_to_day_of_week(x))

In [77]:
data.groupby(["Year","Month","Day of Week","Day"]).size().loc["2019",:,"Sunday",:]

Year  Month  Day of Week  Day
2019  01     Sunday       06      8
                          13      9
                          20     14
                          27      5
      02     Sunday       03      7
                          10     17
                          17     11
                          24      7
      03     Sunday       03     14
                          10     20
                          17     19
                          24     17
                          31     13
      04     Sunday       07     10
                          14     14
                          21     11
                          28     13
      05     Sunday       05     21
                          12     14
                          19     17
                          26     18
      06     Sunday       02     24
                          09     29
                          16     29
                          23     25
                          30     15
      07     Sunday       07     26
                          14     26
                          21     36
                          28     19
      08     Sunday       04     37
                          11     30
                          18     31
                          25     29
      09     Sunday       01     33
                          08     26
                          15     43
                          22     33
                          29     38
      10     Sunday       06     30
                          13     42
                          20     42
                          27     25
      11     Sunday       03     30
                          10     24
                          17     31
                          24     29
      12     Sunday       01     22
                          08     25
                          15     28
                          22     17
                          29     30
dtype: int64

In [18]:
data[data["status"] == "DATASIGNS_APPROVED"].sort_values("applieddate").drop_duplicates("profiledata_mobile",keep = "first")

,profiledata_mobile,userid,applieddate,loandetail_amount,status,loandetail_status
970,7411112797,4851,2017-01-16,33000.0,DATASIGNS_APPROVED,DISBURSED
1423,9845353703,4849,2017-01-18,33000.0,DATASIGNS_APPROVED,CUST_NOT_INTERESTED
969,9986629658,5112,2017-01-19,100000.0,DATASIGNS_APPROVED,CLOSED
603,9632288267,5520,2017-01-23,30000.0,DATASIGNS_APPROVED,WRITTEN_OFF
376,9916995511,4571,2017-01-26,100000.0,DATASIGNS_APPROVED,WRITTEN_OFF
...,...,...,...,...,...,...
42360,7983166056,3308838,2023-01-08,10000.0,DATASIGNS_APPROVED,DISBURSED
45825,9738401900,4377374,2023-01-09,50000.0,DATASIGNS_APPROVED,DISBURSED
46508,9126448547,4366376,2023-01-10,NaN,DATASIGNS_APPROVED,NaN
42671,9686549162,2612236,2023-01-10,NaN,DATASIGNS_APPROVED,NaN
46101,9591256834,3753541,2023-01-11,NaN,DATASIGNS_APPROVED,NaN